@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-warehouse-page {
  background-color: $color-white;
  margin: 1rem;
  border-radius: 1.25rem;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  overflow: hidden;

  @include tablet {
    margin: 2rem;
  }

  &__header {
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid $color-cloud;

    @include tablet {
      padding: 2rem;
    }
  }

  &__back {
    height: 100%;
    cursor: pointer;
  }

  &__title {
    font-size: $h1-size;
    font-weight: $font-weight-semibold;
    margin: 0;
  }

  &__loading {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
  }
}

.edit-warehouse-page {
  .item__form {
    background-color: transparent;
  }

  &__title {
    font-size: 1.563rem;
    line-height: 2.25rem;
    font-weight: 600;
  }

  &__section-title {
    font-weight: $font-weight-semibold;
    font-size: 1rem;
    color: $color-instock-black;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 1.4rem;
      padding-bottom: 0.1rem;
    }
  }

  .form__item {
    label {
      font-size: 0.7rem;
      font-weight: $font-weight-semibold;
      color: $color-instock-black;
      @include tablet {
        font-size: 0.8rem;
      }
    }


    input {
      border: 1px solid $color-cloud;
      border-radius: 1.25rem;
      padding: 0.5rem; 
      &::placeholder {
        color: $color-slate;
      }
      @include tablet {
        padding: 0.75rem; 
      }
    }
  }

  &__button-container {
    border-radius: 0 0 1.25rem 1.25rem;
  }

  &__cancel-btn,
  &__add-btn {
    border-radius: 1.25rem;
  }
}

button {
    padding: 0.5rem 0;
    border-radius: 1.25rem;
    height: 2.25rem;
    width: 100%;
    cursor: pointer;
}

.save-btn {
    background-color: #2e66e5;
    color: #ffffff;
}

.title {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
