@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-warehouse-page {
  background-color: $color-white;
  margin: 1rem;
  border-radius: 1.25rem;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  overflow: hidden;

  @include tablet {
    margin: 2rem;
  }

  &__header {
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid $color-cloud;

    @include tablet {
      padding: 2rem;
    }
  }

  &__back {
    height: 100%;
    cursor: pointer;
  }

  &__title {
    font-size: $h1-size;
    font-weight: $font-weight-semibold;
    margin: 0;
  }

  &__loading {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
  }
}

// Override ItemForm styles for this specific page
.edit-warehouse-page {
  .item__form {
    background-color: transparent;
  }

  .form__section-title {
    font-size: 1.25rem;
    font-weight: $font-weight-semibold;
    color: $color-slate;
    @include tablet {
      font-size: 1.4rem;
      padding-bottom: 0.1rem;
    }
  }

  .form__item {
    input {
      border-radius: 1.25rem;
    }
  }

  .form__button-container {
    border-radius: 0 0 1.25rem 1.25rem;
  }

  .form__cancel-btn,
  .form__add-btn {
    border-radius: 1.25rem;
  }
}
