@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.new-warehouse-page {
  position: relative;
  top: -3rem;
  z-index: 10;
  background-color: white;
  border-radius: 0.1875rem;

  @include tablet {
    top: -5.5rem;
  }

  &__header {
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-bottom: 1px solid rgba($color-instock-black, 0.2);

    @include tablet {
      flex-direction: row;
      align-items: center;
      height: 5.5rem;
      padding: 0 2rem;
    }
  }
  &__back {
    height: 100%;
  }
}
