@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/variables" as *;

.warehouse-details {
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-cloud;
  padding: 1.2rem 0;

  @include tablet {
    border-bottom: none;
    padding: 2rem 0;
  }

  &__header-container {
    border-bottom: 1px solid $color-cloud;
    margin-bottom: 24px;
  }

  &__header {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 36px;
    font-weight: $font-weight-semibold;

    @include tablet {
      padding-left: 32px;
      padding-right: 32px;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    @include tablet {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__edit-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-instock-indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: $color-instock-black;
    }

    @include tablet {
      width: auto;
      height: 44px;
      padding-right: 24px;
      padding-left: 15px;
      border-radius: 22px;
    }

    &__text {
      display: none;

      @include tablet {
        display: inline;
        font-size: 13px;
        line-height: 20px;
        color: $color-white;
      }
    }
  }

  &__contact-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 1.5rem 0;
    }
  }

  &__address-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__address-value {
    display: flex;
    gap: 0.3rem;

    @include tablet {
      flex-direction: column;
    }
  }

  &__contact-details {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      gap: 5rem;
      padding-right: 3rem;
      padding-left: 2rem;
      border-left: 1px solid $color-cloud;
    }
  }

  &__contact-name-container,
  &__contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__text {
    font-size: 13px;
    line-height: 20px;

    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__not-found {
    background-color: $color-white;
    height: 100vh;
  }
}

.label {
  font-size: 11px;
  line-height: 16px;
  color: $color-slate;

  @include tablet {
    font-size: 12px;
    line-height: 18px;
  }
}
