@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/variables" as *;

.warehouse-details-page {
  &__header {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $color-cloud;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
      height: 7.5rem;
      padding: 0 2rem;
    }
  }

  &__back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0.5rem;

    @include tablet {
      align-self: end;
      padding-bottom: 2rem;
      padding-right: 1rem;
    }
  }

  &__back-icon {
    padding-bottom: 0.1rem;

    @include tablet {
      padding-bottom: 0.5rem;
    }
  }

  &__title-button {
    display: flex;
    flex-direction: row;
  }

  &__title {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;

    @include tablet {
      align-self: end;
      padding-bottom: 2rem;
    }
  }

  &__edit-button {
    align-self: end;
    padding-bottom: 1.75rem;

    @include tablet {
      padding-bottom: 2rem;
    }
  }
}

.warehouse-details {
  &__content {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    border-bottom: 1px solid $color-cloud;

    @include tablet {
      border-bottom: none;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__section {
    @include tablet {
      &:first-child {
        width: 35%;
      }

      &:last-child {
        width: 65%;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__edit-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-instock-indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover {
      background-color: $color-instock-black;
    }

    @include tablet {
      width: auto;
      height: 44px;
      padding-right: 24px;
      padding-left: 15px;
      border-radius: 22px;
    }
  }

  &__edit-icon {
    width: 24px;
    height: 24px;
  }

  &__edit-text {
    display: none;

    @include tablet {
      display: inline;
      font-size: 13px;
      line-height: 20px;
      color: $color-white;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @include tablet {
      flex-direction: row;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__address-text {
    display: flex;
    gap: 0.3rem;

    @include tablet {
      flex-direction: column;
    }
  }

  &__contact-info {
    display: flex;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      gap: 5rem;
      padding-right: 3rem;
      padding-left: 2rem;
      border-left: 1px solid $color-cloud;
    }
  }

  &__contact-name,
  &__contact-data {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 50%;
  }

  &__text {
    color: $color-instock-black;
    font-size: $m-p2-size;
    line-height: $m-p2-line-height;

    @include tablet {
      font-size: $p2-size;
      line-height: $p2-line-height;
    }
  }

  &__label {
    font-size: $m-h4-size;
    line-height: $m-h4-line-height;
    color: $color-slate;

    @include tablet {
      font-size: $h4-size;
      line-height: $h4-line-height;
    }
  }

  &--not-found {
    background-color: $color-white;
    height: 100vh;
  }
}
