@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;


.page-content {
    background-color: $color-white;
    padding-top: 2rem;
    margin: 2rem;
}