@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.page-content {
    @include grid-container;
    border: 1px solid red;
    background-color: $color-white;
    padding-top: 2rem;
    font-family: $font-family-primary;
}