@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;


.page-content {
    width: 100%;
    background-color: $color-white;
    padding-top: 2rem;
    margin: 2rem;
    @include tablet {
        padding-top: 3rem;
        margin: 3rem;
    }
}