@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.list-headers--tablet {
  background-color: $color-light-grey;
  display: none;
  @include tablet {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    font-weight: 600;
  }
}
.list__header {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: $color-slate;
  display: flex;
  gap: 0.3rem;
  flex: 2;
  &--small {
    flex: 1;
  }
  &--center {
    justify-content: center;
  }
}
.list__sort-icon {
  width: 1rem;
}
