@use "../../styles/partials/variables" as *;
.searchbar {
  margin: 1rem;
  padding: 10px;
  border-radius: 1.25rem;
  border: 1px solid $color-cloud;
  font-size: $m-p3-size;
  width: 40%;

  &__icon {
    position: relative;
    left: -50px;
    bottom: -8px;
  }
}
