@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.footer {
  width: 100%;
  position: absolute;
  top:141.75rem; // Different for different pages just for now keep it like that and will change later
  height: 1rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;

  @include tablet {
    padding-top: 1.5rem;
    height: 1.125rem;
  }

  &__paragraph {
    font-size: $m-p3-size;
    line-height: $m-p3-line-height;
    font-weight: 400;
    color: $color-slate;
    opacity: 80%;

    @include tablet {
      font-size: $p3-size;
      line-height: $p3-line-height;
    }
  }
}
