@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.new-item-page {
  &__header {
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
    }
  }
  &__back {
    height: 100%;
  }
}
